Body { 
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    
}

ul {
  padding: 0px;
}

.card-white {
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px 40px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 50px;
    }

  #avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
    opacity: 1;
  }

  .list-inline {
    list-style: none;
    align-items: center;
  }
  
  .list-inline li {
    display: inline;
  }

  .list-inline li a i {
    font-size: 30px;
    margin: 10px;
    color: black;
  }

  .button {
      width: 200px;
      color: white;
      background-color: rgb(0, 51, 153, 0.8);
      text-align: center;
      padding: 20px 40px;
      border-radius: 50px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
      }

  .container{
      width: 100%;
      background-image: url(./images/Virtual\ Room\ wallpaper\ -\ Abstract\ wallpapers\ -\ .jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      height: 100%;
      padding: 40px;
      margin: 0 auto;    
  }

  @media (max-width: 1024px){
      .container { width: 800px;
    }
  

  @media (max-width: 768px){
    .container { width: 600px;
  }


  @media (max-width: 540px){
    .container { 
        width: 100%;
        height: 100%;

  }
  


#linkedin {
  padding-right: 30px;
}

#instagram {
  padding-left: 30px;
}

#facebook {
  padding-left: 30px;
  padding-right: 30px;
  
}
